.body h1 {
	font-family: 'Bree Serif', serif;
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

h1 {
font-family: 'Michroma', sans-serif;
font-size: 25px;
}

h2 {
font-family: 'Michroma', sans-serif;
}

h3{
font-family: 'Michroma', sans-serif;
font-size:23px;
}

h4 {
font-size: 17px;
color: #62a9af;
font-family: 'Michroma', sans-serif;
}

.sideh4 {
	font-size: 20px;
	color: black;
	font-family: 'Michroma', sans-serif;
}

h5 {
font-family: 'Michroma', sans-serif;
}

h6 {
font-family: 'Michroma', sans-serif;
}

p {
font-family: 'Raleway', sans-serif;}

li {
font-family: 'Raleway', sans-serif;
font-size:14px;}	

li a {
font-family: 'Raleway', sans-serif;
font-size:13px;}

blockquote p {
	font-family: 'Handlee', cursive;
}

ul li  a {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
}

.top-bar-section ul li > a { 
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 13px;
	position: relative; /* this is to make z-index work, just make sure it isn't static */
	z-index: 98;
	background: transparent;
}

.top-bar.expanded .title-area, .contain-to-grid, .top-bar, .top-bar-section ul, .top-bar-section li:not(.has-form) a:not(.button), .top-bar-section .dropdown li a, .top-bar-section .dropdown li:not(.has-form) a:not(.button), .top-bar-section li:not(.has-form) a:not(.button):hover {
background: transparent; 
}

.shadow {
   -moz-box-shadow:    inset 0 0 15px #000000;
   -webkit-box-shadow: inset 0 0 15px #000000;
   box-shadow:                 
   		inset 0px 16px 12px -16px #333333,
        inset 0px 0px 14px -16px #333333; 
}

.one-edge-shadow {
	-webkit-box-shadow: 0 10px 6px -6px lightslategray;
	   -moz-box-shadow: 0 10px 6px -6px lightslategray;
	        box-shadow: 0 10px 6px -6px lightslategray;
}

.shrink {
	max-height: 200px;
}

.drawers {
	padding-left: 35px;
}

#featuredContent .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.orbit-container {
  margin-top:-45px;
  width: 100%;
  height: 390px;
}

.orbit-slides-container {
  width: 100%;
  height: 100% !important;
}

.orbit-slides-container li {
  width: 100%;
  height: 100%;
  background-repeat:no-repeat;
  background-position:center;
  background-size: cover;
}

/* Your Button */
.top-bar {

}

.logo {
  position: relative; /* this is to make z-index work, just make sure it isn't static */
  z-index: 99; /* this number has to be higher than the topbar */
}

.headimg {
	height: 200px;
	width: 100%;
	margin-top: -45px;
	background-color: #777777;
	background-image: url("http://i.imgur.com/DzFPpOK.jpg");
	background-size: fixed;
	position: relative; /* this is to make z-index work, just make sure it isn't static */
	z-index: 2;
	margin-bottom: 80px;
}

.wrapperkid {
	width:100%;
    background: url("http://i.imgur.com/ACsfUYS.jpg") no-repeat center;   
}

.wrapperkid2 {
	margin-top:10px;
	width:100%;
    background: url("...") no-repeat center;   
}

.whitebox {
     background-color: rgba(255, 255, 255, 0.7); 
     padding-top: 10px;
     padding-left: 10px;
     margin-top: 15px;
     margin-bottom: 15px;
 }

.logo {
	margin-top: 15px;
}

.columns {
	max-width: 1000px;
}

#seal {
	max-width: 175px;
}

.footer {
	max-width: 1000px;
}

.container ul li a {
	color: #62a9af !important;
}

.wrap {
	padding-top: 15px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	background-color: #333333;
	min-height: 350px;
}

.wrap2 {
	padding-top: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	background-color: #333333;
	height: 30px;
	margin-bottom: -15px;
}

#contact_form {
	max-height: 280px;
}

.footer li {
	font-color: #555555;
	font-size: 13px;
	color: white
}
.footer h5 {
	font-color: #555555;
	font-size: 16px;
	color: white;
	margin-left: 40px;
}

.signright {
	padding-top: 15px;
	font-size: 13px;
}

.copyright p {
	color:gray;
	font-size: 12px;
}

.mainorbit img {
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-bottom: -0px;
}

.coupon {
	margin-left: 20px;
	margin-right: 20px;
	margin-top:10px;
	border: 7px dashed #d4d4d4;
}
.logo {
	margin-bottom: -40px;
}

.top-bar input { 
	height: 55px; 
}

.specialtitle {
	padding-top: 20px;
}
.specials {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.specialsexpire {
	font-size: 12px;
	text-align: center;
}

.orbit-bullets {
    display: table;
    text-align: center;
    top: -36px;
}

.servicerow {
	padding-top: 20px;
}

.container .full-width {
  width: 100%;
  max-width: 100%; 
  font-color: white;
}

.dark {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	margin-top: 15px;
}

.darkhead {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: -5px;
	padding-top: 25px;
}

.darkhead2 {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 0px;
	padding-top: 5px;
}
.darklist {
	color:white;
}

.white {
	color:white;
}

.whitehead {
	color:white;
}

.darkcopy {
	text-align: center;
	color:grey;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 4px;
}

.side-nav {
	   margin-top:-13px;
}



blockquote {
font-size: 16px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
margin-bottom: -10px;
line-height: 1.45;
position: relative;
}

blockquote{
  display:block;
  padding: 15px 45px 20px 45px;
  margin: 0 0 20px;
  position: relative;
  
  /*Font*/
  font-family: 'Handlee', serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333333;
  text-align: justify;
  margin-right: -30px;
  
}

blockquote::before{
  content: "\201C"; /*Unicode for Left Double Quote*/
  
  /*Font*/
  font-family: 'Times New Roman', serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  left: 10px;
  top:-5px;
}

blockquote::after{
  /*Reset to make sure*/
  content: "\201D";
    /*Font*/
  font-family: 'Times New Roman', serif;
  font-size: 60px;
  font-weight: bold;
  color: #999;
  
  /*Positioning*/
  position: absolute;
  right: 30px;
  bottom: -10px;
}

blockquote a{
  text-decoration: none;
  background: #eee;
  cursor: pointer;
  padding: 0 3px;
  color: #c76c0c;
}

blockquote a:hover{
 color: #666;
}

blockquote {
  font-style: italic;
}

/*TOP BAR STYLING */

.top-bar-section ul li > a{
  font-weight: 300;
  background: transparent;
}

.top-bar-section li .dropdown{
  right: -1em !important;
  background: transparent;
}


.top-bar ul li a {
  background-color: transparent !important;
} 


.finan {
	margin-top: -35px;
}

.biggerh4 {
	font-size: 20px;
}