@font-face {
font-family: 'Avenir Next LT Pro Demi Condensed';
font-style: normal;
font-weight: normal;
src: local('Avenir Next LT Pro Demi Condensed'), url('AvenirNextLTPro-DemiCn.woff') format('woff');
}

.body h1 {
	font-family: "AvenirNextLTPro-DemiCn";
}

.fullWidth {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.headerimg {
	height: 120px;
	width: 100%;
	margin-top: -3px;
	background-color: #777777;
	background-image: url("http://i.imgur.com/DzFPpOK.jpg");
	background-size: fixed;
}

.wrapperkid {
	width:100%;
    background: url("http://i.imgur.com/OiWRrNo.jpg") no-repeat center;   
}

.whitebox {
     background-color: rgba(255, 255, 255, 0.8); }

.logo {
	margin-top: 15px;
}

.columns {
	max-width: 1000px;
}

#seal {
	max-width: 175px;
}

.footer {
	max-width: 1000px;
}

.wrap {
	padding-top: 15px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	background-color: #333333;
	min-height: 350px;
}

.wrap2 {
	padding-top: 5px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
	background-color: #333333;
	height: 30px;
	margin-bottom: -15px;
}

#contact_form {
	max-height: 280px;
}

.footer li {
	font-color: #555555;
	font-size: 13px;
	color: white
}
.footer h5 {
	font-color: #555555;
	font-size: 16px;
	color: white;
	margin-left: 40px;
}

.signright {
	padding-top: 15px;
	font-size: 13px;
}

.copyright p {
	color:gray;
	font-size: 12px;
}

.mainorbit img {
  width: 100%;
  height: auto;
  margin-top: 0px;
}

.logo {
	margin-bottom: -40px;

}
.top-bar input { height: 45px; }

.specialtitle {
	padding-top: 20px;
}
.specials {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

.specialsexpire {
	font-size: 12px;
	text-align: center;
}

.orbit-bullets {
    display: table;
    text-align: center;
    top: -36px;
}

.servicerow {
	padding-top: 20px;
}

.container .full-width {
  width: 100%;
  max-width: 100%; 
  font-color: white;
}

.dark {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 17px;
	margin-top: 15px;
}

.darkhead {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-bottom: -5px;
	padding-top: 25px;
}

.darkhead2 {
	color:white;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	padding-bottom: 0px;
	padding-top: 5px;
}
.darklist {
	color:white;
}

.white {
	color:white;
}

.whitehead {
	color:white;
}

.darkcopy {
	text-align: center;
	color:grey;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 4px;
}

.sidenav {
	   border-right: 1px solid;
}

blockquote {
font-family: Georgia, serif;
font-size: 16px;
font-style: italic;
width: 500px;
margin: 0.25em 0;
padding: 0.25em 40px;
line-height: 1.45;
position: relative;
color: #383838;
}
